html {
  max-width: 100%;
}

.App {
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.link {
  text-decoration: none;
  color: black;
}

/* HEADER */

.header {
  /* https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b */
  background-color: #6d597a;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 'one two three';
}

.header__link {
  grid-area: one;
  margin-right: auto;
  color: white;
}

.header__title {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.header__searchBar {
  grid-area: two;
  margin: auto;
}

.searchBar__image {
  width: 10px;
  padding-right: 5px;
}

.searchBar__input {
  width: 500px;
  cursor: not-allowed;
}

.searchBar__element {
  display: inline;
}

/* END-HEADER */

/* REVIEWS */

.reviews {
}

.categories {
}

.categories__list {
  padding-left: 0;
}

.categories__list__element--state-inactive {
  list-style-type: none;
  display: inline;
  padding: 0px 25px;
  color: black;
  cursor: pointer;
}

.categories__list__element--state-active {
  list-style-type: none;
  display: inline;
  padding: 0px 25px;
  color: #f79d65;
  font-weight: bold;
  cursor: pointer;
}

.reviews__list {
  padding-left: 0;
}

.reviewCard {
  margin: 20px auto;
  width: 800px;
  height: 200px;
  background-color: rgba(104, 73, 104, 0.1);
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    'link link link link link image'
    'link link link link link image'
    'vButton vCount cButton cCount fill image';
  grid-template-columns: 80px 40px 80px 40px auto 265px;
  grid-template-rows: 40px 120px 40px;
  overflow: hidden;
}

.reviewCard__link {
  grid-area: link;
  display: grid;
  grid-template-areas:
    'info'
    'title';
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  overflow: hidden;
}

.reviewCard__info {
  margin-right: auto;
  margin-left: 15px;
  grid-area: info;
}

.reviewCard__title {
  margin-right: auto;
  margin-left: 15px;
  grid-area: title;
  font-size: 25px;
  text-align: left;
}

.reviewCard__image__link {
  grid-area: image;
}

.reviewCard__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

button {
  background-color: #6d597a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.reviewCard__voteButton--voted-false {
  grid-area: vButton;
  margin-left: 15px;
  margin-bottom: 15px;
}

.reviewCard__voteButton--voted-true {
  grid-area: vButton;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #f79d65;
}

.reviewCard__voteCounter {
  grid-area: vCount;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 15px;
}
.reviewCard__commentButton {
  grid-area: cButton;
  margin-bottom: 15px;
  cursor: not-allowed;
}
.reviewCard__commentCount {
  grid-area: cCount;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 15px;
}

/* END REVIEWS */

/* EXPANDED REVIEW */
.expandedReview {
}

.expandedReviewCard {
  border: 1px solid rgba(0, 255, 0, 1);
  background-color: rgba(0, 255, 0, 0.2);
}

.expandedReviewCard__voteButton--voted-false {
}

.expandedReviewCard__voteButton--voted-true {
  background-color: #f79d65;
}
/* END EXPANDED REVIEW */

/* COMMENTS */
.comments {
  border: 1px solid rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 255, 0.1);
}

.comments__list {
  padding-left: 0;
}

.commentCard {
  border: 1px solid rgba(255, 125, 0, 1);
  background-color: rgba(255, 125, 0, 0.3);
  margin: 10px 0px;
}

.commentCard__voteButton--voted-false {
}

.commentCard__voteButton--voted-true {
  background-color: #f79d65;
}
/* END COMMENTS */
