html {
  max-width: 100%;
}

.App {
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

.link {
  text-decoration: none;
  color: black;
}

/* HEADER */
.headerParent {
  /* https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b */
  background-color: #6d597a;
  width: auto;
}

.header {
  background-color: #6d597a;
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 400px 200px;
  grid-template-areas: 'one two three';
}

.header__link {
  grid-area: one;
  margin-right: auto;
  color: white;
}

.header__title {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.header__searchBar {
  grid-area: two;
  margin: auto;
}

.searchBar__image {
  width: 10px;
  padding-right: 5px;
}

.searchBar__input {
  width: 250px;
  cursor: not-allowed;
}

.searchBar__element {
  display: inline;
}

.header__user {
  margin-left: auto;
  grid-area: three;
  margin: 10px;
}

.user__username {
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: inline;
}

.user__signout {
  display: inline;
  width: 15px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.header__login {
  margin: auto;
  color: white;
  grid-area: three;
}

.login__input {
  width: 100px;
}

.login__text {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

/* END-HEADER */

/* REVIEWS */

.reviews {
}

.categories {
  width: 800px;
  margin: auto;
}

.categories__list {
  padding-left: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #6d597a;
}

.categories__list__element--state-inactive {
  list-style-type: none;
  display: inline;
  padding: 0px 15px;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.categories__list__element--state-active {
  list-style-type: none;
  display: inline;
  padding: 0px 15px;
  color: #f79d65;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.reviews__list {
  padding-left: 0;
}

.reviewCard {
  margin: 20px auto;
  width: 800px;
  height: 200px;
  background-color: rgba(104, 73, 104, 0.1);
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    'link link link link link image'
    'link link link link link image'
    'vButton vCount cButton cCount fill image';
  grid-template-columns: 80px 40px 80px 40px auto 265px;
  grid-template-rows: 40px 120px 40px;
  overflow: hidden;
}

.reviewCard__link {
  grid-area: link;
  display: grid;
  grid-template-areas:
    'info'
    'title';
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  overflow: hidden;
}

.reviewCard__info {
  margin-right: auto;
  margin-left: 15px;
  grid-area: info;
}

.reviewCard__title {
  margin-right: auto;
  margin-left: 15px;
  grid-area: title;
  font-size: 25px;
  text-align: left;
}

.reviewCard__image__link {
  grid-area: image;
}

.reviewCard__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

button {
  background-color: #6d597a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.reviewCard__voteButton--voted-false {
  grid-area: vButton;
  margin-left: 15px;
  margin-bottom: 15px;
}

.reviewCard__voteButton--voted-true {
  grid-area: vButton;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #f79d65;
}

.reviewCard__voteCounter {
  grid-area: vCount;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 15px;
}
.reviewCard__commentButton {
  grid-area: cButton;
  margin-bottom: 15px;
}

.reviewCard__commentCount {
  grid-area: cCount;
  padding-top: 5px;
  margin: 0;
  margin-bottom: 15px;
}

/* END REVIEWS */

/* EXPANDED REVIEW */
.expandedReview {
  text-align: left;
  width: 800px;
  height: 200px;
  margin: 20px auto;
}

.expandedReviewCard {
  background-color: rgba(104, 73, 104, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    'info info info info info info'
    'title title title title title title'
    'body body body body body body'
    'voteButton voteCounter commentButton commentCounter fill newComment';
  grid-template-rows: 20px 40px auto 20px;
  grid-template-columns: 60px 40px 80px 40px auto;
  overflow: hidden;
}

.expandedReviewCard__info {
  margin-top: 0px;
  grid-area: info;
}

.expandedReviewCard__title {
  grid-area: title;
}

.expandedReviewCard__body {
  grid-area: body;
}

.expandedReviewCard__voteButton--voted-false {
  grid-area: voteButton;
}

.expandedReviewCard__voteButton--voted-true {
  background-color: #f79d65;
  grid-area: voteButton;
}

.expandedReviewCard__voteCounter {
  margin: 0;
  margin-top: 4px;
  text-align: center;
  grid-area: voteCounter;
}

.expandedReviewCard__commentButton {
  grid-area: commentButton;
}

.expandedReviewCard__commentCounter {
  margin: 0;
  margin-top: 4px;
  text-align: center;
  grid-area: commentCounter;
}

.expandedReviewCard__newComment--status-active {
  background-color: #a44a3f;
  grid-area: newComment;
}

.expandedReviewCard__newComment--status-inactive {
  grid-area: newComment;
}

.newComment {
  padding: 10px;
  margin: auto;
  padding-bottom: 0;
  padding-top: 40px;
}

.newComment__body {
  width: 700px;
  height: 100px;
  margin-right: 25px;
  display: inline;
}

.newComment__button {
  display: inline;
  margin-left: 10px;
}
/* END EXPANDED REVIEW */

/* COMMENTS */
.comments {
  margin-top: 40px;
  /* border: 1px solid rgba(0, 0, 255, 1); */
  /* background-color: rgba(0, 0, 255, 0.1); */
}

.comments__list {
  padding-left: 0;
}

.commentCard {
  background-color: rgba(247, 157, 101, 0.2);
  margin: 10px 0px;
  padding: 10px;
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    'info info info delete'
    'body body body body'
    'voteButton voteCounter fill fill';
  grid-template-rows: 20px auto 20px;
  grid-template-columns: 60px 40px auto 60px;
  overflow: hidden;
}

.commentCard__info {
  margin-top: 0px;
  grid-area: info;
}

.commentCard__delete {
  grid-area: delete;
  background-color: #a44a3f;
}

.commentCard__body {
  grid-area: body;
}

.commentCard__voteButton--voted-false {
  grid-area: voteButton;
}

.commentCard__voteButton--voted-true {
  background-color: #f79d65;
  grid-area: voteButton;
}

.commentCard__voteCounter {
  margin: 0;
  margin-top: 4px;
  text-align: center;
  grid-area: voteCounter;
}

/* END COMMENTS */
